pkgbase = ipython
	pkgdesc = Enhanced Interactive Python shell
	pkgver = 8.15.0
	pkgrel = 3
	url = https://ipython.org
	arch = any
	license = BSD
	checkdepends = git
	checkdepends = jupyter-nbformat
	checkdepends = python-curio
	checkdepends = python-ipykernel
	checkdepends = python-matplotlib
	checkdepends = python-numpy
	checkdepends = python-pandas
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-testpath
	checkdepends = python-trio
	checkdepends = tcsh
	checkdepends = texlive-bin
	checkdepends = texlive-latex
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-backcall
	depends = python-decorator
	depends = python-jedi
	depends = python-matplotlib-inline
	depends = python-pexpect
	depends = python-pickleshare
	depends = python-prompt_toolkit
	depends = python-pygments
	depends = python-stack-data
	depends = python-traitlets
	depends = sqlite
	optdepends = python-black: to auto format with Black
	optdepends = yapf: to auto format with YAPF
	source = https://github.com/ipython/ipython/archive/8.15.0/ipython-8.15.0.tar.gz
	source = IPython-icon.png::https://www.packal.org/sites/default/files/public/styles/icon_large/public/workflow-files/nkeimipynbworkflow/icon/icon.png
	b2sums = 9b2f10686a3c65e4085994904d38552bd263b809a7c6714823bda43f2d66976d9f094aded5b40a416ca10e0261583bdd590b2ca534a58737d8dd9ee9024b82ad
	b2sums = d445e2bc7a037db8715ea103611720e965987e155c32e445b0ef783e519fca8a0301b16c5763fd9a5d8d169c3b0d7b4db6c0bd0f9772842258b135dcb1d6d5a2

pkgname = ipython
